/*
 * Empty Stylesheet file.
 */

.body-background{
      -fx-background-color:linear-gradient(from 25% 25% to 100% 100%,#FFA500,#FF8C00,#F4A460,#FF7F50,#FFFAFA) !important;

}

#import{
    -fx-border-color:black;
    -fx-border-width: 2 2 2 2;
    -fx-background-color : #FF4500;
}

#import{
    -fx-border-color:black;
    -fx-border-width: 2 2 2 2;
    -fx-background-color : #FF8C00;
}
